extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/char.css')
    title= char.Name+' UW Character'
    meta(description='Information on the unicode character '+char.Name)

block content

    div#charBig= char.Character
    h1(style="padding:30px") You searched for #{char.Character}
    char.Name
        ul
            each val,key in char
                li= key + " ~ " + val
    //div#prev
    //    a(href='/'+prev['Character Point']) #{'Previous:'+prev.Character+'-'+prev.Name}
    //div#next
    //    a(href='/'+next['Character Point']) #{'Previous:'+next.Character+'-'+next.Name}