extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/search.css')
    title= search+' UW search'
    meta(description='A search result for the '+ search)
    link(rel="stylesheet" href='/stylesheets/c3.css')
    script(src='/javascript/d3.js' charset="utf-8")
    script(src='/javascript/c3.js')
    script.
        var toGraph = !{JSON.stringify(toGraph)}

block content

    div#topBits(style="padding:30px")
        h1
            | You searched for:
            br
            | !{search}
        h3 Code point count: #{chars.length}&nbsp&nbsp&nbsp&nbsp
            |Grapheme Clusters: #{realCount}
        button.toggle(onclick="toggleDisp()") Toggle grid display
    div#paperHolder
        div#paper
            div#asText #{search}
            ul#asBoxed
                    each c in chars
                        if c == 'Grapheme Break'
                            a.tooltip(href='#')
                                li.gBreak
                                    |&#8203;</br>&#8203;
                                span Grapheme Break
                        else
                            li.charHolder(class= c['Combining Class'] != null && c['Combining Class'] == "0" ? "" : "comb")
                                a.tooltip(href='/U+'+c['Code Point'])!= c.Character + "</br>" + "U+" + c['Code Point']
                                    span
                                        table
                                            each val,key in c
                                                tr
                                                    td=key
                                                    td=val
        div.flex-container
            div#ages.flex-item
            div#blocks.flex-item
            div#sizes.flex-item
    script(src='/javascript/search.js')