extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/search.css')
    title= search+' UW search'
    meta(description='A search result for the '+ search)
    script(src='/javascript/search.js')

block content

    h1(style="padding:30px") You searched for #{search}
    h3 Character point count: #{chars.length}
    h3 Displayed character count: #{realCount}
    button.toggle(onclick="toggleDisp()") Display as string
    div#paperHolder
        div#paper
            div#asText #{search}
            ul#asBoxed
                    each c in chars
                        li.charHolder(class=c['Combining Class'] == "0" ? "" : "comb")
                            a.tooltip(href='/'+c['Character Point'])!= c.Character + "</br>" + "U+" + c['Character Point']
                                span
                                    ul
                                        each val,key in c
                                            li= key + " ~ " + val
                                        li= c['Code Point']