extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/search.css')
    title= search+' UW search'
    meta(description='A search result for the '+ search)
    link(rel="stylesheet" href='/stylesheets/c3.css')
    script(src='/javascript/d3.js' charset="utf-8")
    script(src='/javascript/c3.js')
    script.
        var toGraph = !{JSON.stringify(toGraph)}

block content

    div#topBits.jumbotron
        h1.youSearched
            | You searched for:
            br
            | !{search}
        h3 Code point count: #{chars.length}
            a.tooltip(href='#')
                i.fa.fa-question-circle
                span
                    |In Unicode, each letter/symbol is constructed using one or more code points.
                    br
                    |Each system may render the code point for 'A' slightly differently, but it should look similar in every font.
                    br
                    |Below each code point is shown as a grey/red square
            |&nbsp&nbsp&nbsp&nbsp
            |Grapheme Clusters: #{realCount}
            a.tooltip(href='#')
                i.fa.fa-question-circle
                span
                    |A grapheme cluster is a sequence of code points that are treated as a single unit.
                    br
                    |If you run a cursor along text, you will usually move one cluster at a time.
                    br
                    |Below the points between grapheme clusters are shown as blue rectangles.
        button.toggle(onclick="toggleDisp()") Toggle grid display
    div#paperHolder
        div#paper
            div#asText #{search}
            ul#asBoxed
                    each c in chars
                        if c == 'Grapheme Break'
                            li.gBreak
                                a.tooltip(href='#')
                                    |&#8203;</br>&#8203;
                                    span Grapheme Break
                        else
                            li.charHolder(class= c['Combining Class'] != null && c['Combining Class'] == "0" ? "" : "comb")
                                a.tooltip(href='/U+'+c['Code Point'])
                                    par.symbol #{c.Character}
                                    br
                                    par.charPoint #{"U+" + c['Code Point']}
                                    span
                                        table
                                            each val,key in c
                                                tr
                                                    td=key
                                                    td=val
        div.flex-container
            div.flex-item
                a.tooltip(href='#')
                    i.fa.fa-question-circle
                    span
                        |The version of Unicode that this code point was first defined in
                div#ages
            div.flex-item
                a.tooltip(href='#')
                    i.fa.fa-question-circle
                    span
                        |The section of code points each character belongs to. Block names are descriptive.
                div#blocks
            div.flex-item
                a.tooltip(href='#')
                    i.fa.fa-question-circle
                    span
                        |The amount of Bytes it would take to store the text in UTF-8, UTF-16, and UTF-32
                div#sizes
    script(src='/javascript/search.js')