extends layout

block head-extras
    link(rel='stylesheet', href='/stylesheets/search.css')
    title= search+' UW search'
    meta(description='A search result for the '+ search)
    link(rel="stylesheet" href='/stylesheets/c3.css')
    script(src='/javascript/d3.js' charset="utf-8")
    script(src='/javascript/c3.js')
    script.
        var toGraph = !{JSON.stringify(toGraph)}

block content

    div#topBits(style="padding:30px")
        h1 You searched for #{search}
        h3 Code point count: #{chars.length}&nbsp&nbsp&nbsp&nbsp
            |Grapheme Clusters: #{realCount}
        button.toggle(onclick="toggleDisp()") Toggle grid display
    div#paperHolder
        div#paper
            div#asText #{search}
            ul#asBoxed
                    each c in chars
                        li.charHolder(class= c['Combining Class'] != null && c['Combining Class'] == "0" ? "" : "comb")
                            a.tooltip(href='/U+'+c['Code Point'])!= c.Character + "</br>" + "U+" + c['Code Point']
                                span
                                    ul
                                        each val,key in c
                                            li= key + " ~ " + val
                                        li= c['Code Point']
    div#ages
    div#blocks
    div#sizes
    script(src='/javascript/search.js')